* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: "Montserrat", sans-serif;
    background-color: #F5F7FA;
    color: #333;
}
/* navbar */

.navbar {
    background-color: #ffffff;
    padding: 10px 30px;

}

/* Logo */
.logo {
display: flex;
align-items: center;
}

.logo-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.brand {
    font-family: "Playfair Display", serif;
    margin-left: 10px;
}

.navbar-nav {
    font-size: 20px;
    padding: 0 15px;
    gap: 10px;
    transition: color 0.3s ease;
    font-family: "Playfair Display", serif;
}

.nav-link{
 color: #071d38;
}

.navbar-nav .nav-link:hover {
    color: #E5B93F;
}

/* hero banner */
.herobanner {
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0.3) 50%,
            rgba(0, 0, 0, 0) 100%), url(./images/herobanner.jpeg);
    height: 500px;
    background-size: 100% 100%;
    width: 100%;
    aspect-ratio: 16 / 9;
    background-position: center;
    overflow: hidden;

}

.herocontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    height: 100%;

}

.herotitle {
    color: #f5f5f5;
}

.herotitle span {
    color: #E5B93F;
}

.herohead {
    font-family: "Playfair Display", serif;
    color: #f5f5f5;

}

span {
    color: #E5B93F;

}

.heropara {
    font-family: "Montserrat", sans-serif;
    color: #f5f5f5;
}

.herobutton {
    color: black;
    font-size: 15px;
    background-color: #E5B93F;
    border: #071d38 solid 1px;
    border-radius: 25px;
    padding: 10px 15px;
    width: fit-content;
    transition: 1s ease;
    margin-top: 15px;
    font-weight: bold;


}

.herobutton:hover {
    transform: scale(1.07);
    box-shadow:
        0 6px 20px rgba(0, 0, 0, 0.25),
        0 0 30px rgba(212, 175, 55, 0.6);
}

/* product section */

.products {
    padding: 20px 0;
}

.producthead {
    text-align: center;
    font-family: "Playfair Display", serif;
}

.productpara {
    text-align: center;
    margin-bottom: 10px;

}

.productcard {
    gap: 30px;
    background-color: #F5F7FA;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 0 30px;
    margin: auto;
}

.main-card {
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
    transition: 0.5s ease;
    width: 275px;
    box-sizing:border-box;
}

.main-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 4px 20px #585858;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 250px;

}

.btn {
    --bs-btn-bg: #E5B93F;
    --bs-btn-hover-border-color: #E5B93F;
    --bs-btn-hover-bg: transparent;

}

/* carousel */

.carousel-inner img {
    height: 600px;
    object-fit: cover;
}

.carousel {
    margin: 20px 20px;
}


/* category */

.categoryimg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px;
}

.catimg {
    width: 100%;
    height: 250px;
    border-radius: 25px;
    transition: 0.5s ease-in-out;

}

.catimg:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px #585858;
    cursor: pointer;
}

/* about us  */

.abouthead {

    text-align: center;
    font-family: "Playfair Display", serif;
}

.about-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
    background-color: #071d38;
    color: #f5f5f5;
}

.aboutcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.about-logo {
    width: 100px;
    height: 100px;
}

.about-bname {
    font-family: "Playfair Display", serif;
}

.aboutimg img {
    height: 400px;
    width: 100%;
}

/* contact us */
.contact-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

.contactdetails {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    align-items: start;
    justify-content: center;
}

.connect i {
    font-size: 20px;
    height: 30px;
    width: 30px;
}

.contactform {
    background-color: #ffffff;
    padding: 20px 20px;
    margin: 10px 30px;
}

/* footer */

.footer {
    text-align: center;
    background-color: #071d38;
    color: #f5f5f5;
    padding: 10px;

}

footer p {
    margin: 0;
}

/* responsive */

/* tablet */
@media (max-width: 992px) {
    .herobanner {
        background-size: 100% 100%;
        background-position: center;
        height: 400px;

    }

    .herocontent {
        padding-left: 60px;
        height: 100%;

    }


    /* product */

    .productcard {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
    padding: 0 30px;
    gap: 30px;
}
.main-card {
    width: 250px;
    height:400px;
    box-sizing: border-box;
}
.card img {
    width: 100%;
    height: 200px;

}
.card-title{
    font-size: 15px;
}

/* carousel */

.carousel-inner img {
    height: 300px;
    object-fit: cover;
}

/* category */

.categoryimg{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.catimg{
    height: 250px;
}

/* about us */
.about-main{
    display: grid;
    height: fit-content;
}
.about-logo{
    width: 75px;
    height: 75px;
}
.about-bname{
    font-size: 25px;
}
.aboutpara{
    font-size: 10px;
}
.aboutimg img {
    height: 250px;
    width: 100%;
}

/* contact */

.contact-main{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.contactdetails{
    margin-left: 10px;
}

}





/* mobile */

@media (max-width: 576px) {
    .herobanner {
        background-size: 100% 100%;
        background-position: center;
        height: 300px;
    }

    .herocontent {
        padding-left: 25px;
    }

    .herotitle {
        font-size: 15px;
    }

    .herohead {
        font-size: 25px;

    }

    .heropara {
        font-size: 15px;
    }

    .herobutton {
        font-size: 10px;
        padding: 10px 15px;
    }

    /* product */

    .productcard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 30px;
}
.main-card {
    width: 200px;
    height:400px;
    box-sizing: border-box;
}
.card img {
    width: 100%;
    height: 200px;

}
.card-title{
    font-size: 15px;
}

/* carousel */

.carousel-inner img {
    height: 250px;
    object-fit: cover;
}
/* category */

.categoryimg{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.catimg{
    height: 200px;
}

/* about us */
.about-main{
    display: block;
    height: fit-content;
}
.aboutimg{
    display: none;
}

/* contact */

.contact-main{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.contactdetails{
    margin-left: 10px;
}
}